
.car-container {
  width: 50%;
  float: left;
  

}

.content-container {
  background-color: lightslategray;
  width: 50%;
  float: right;
  height: 1870px;
  margin-top: 20px;
}

.info-row {
  margin-top: 40px;
  margin-bottom: 40px;

}

.footer {
  margin-top: 100px;
  text-align: center;

}

.white-text {
  color: white;
  padding: 15px;
}

.heading {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.images {
  height: 350px;
}

.name-ratings {
  width: 150px;
  text-align: center;
}

.star-ratings {
  width: 150px;
  text-align: center;
}

.carousel {
  width: 300px;
  float: right;
  padding-right: 100px;
  margin: 10px;

}

.review-text {
  color: black;

}

.sidebar {
  align-self: flex-start;
  background-color: lightskyblue;
  border-radius: 50px;
  margin-top: 10px;
  border: 5px solid lightslategray;
}

.sidebar-link {
  width: 130px;
  font-weight: bold;
  text-align: center;
}

.sidebar-link:hover {
  width: 130px;
  border-radius: 50px; 
  background-color: lightseagreen; 
 
}

.arrivals-container {
  display: flex;
  width: 200%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('public/images/background-image.jpg');
  background-size: cover;
}

.arrivals-heading {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  color: red;
}

.list{
  color: white;
  font-size: 15px;
  list-style: none;
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(0deg, rgb(16, 210, 16),rgb(9, 53, 19));
  -webkit-background-clip: text;
  color: transparent;
}