
.car-container {
  width: 50%;
  float: left;

}

.content-container {
  background-color: lightslategray;
  width: 50%;
  float: right;
  height: 1500px;
  margin-top: 8dvh;
}

.info-row {
  margin-top: 250px;
  margin-bottom: 200px;
}

.footer {
  margin-top: 100px;
  text-align: center;

}

.white-text {
  color: white;
  padding: 15px;
}

.heading {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.images {
  height: 350px;
}
